* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background: black;
}

h3 {
    margin-bottom: 30px;
}
p {
    margin: 10px 0 20px;
}

.container {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

button {
    border: none;
    background-color: whitesmoke;
    padding: 7px;
    border-radius: 5px;
}

@media (min-width: 450px) {
    .container {
        width: 80%;
        padding: 40px;
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
    }
}